body {
    font-family: 'Rasa', serif;
}
.search-bar {
    font-family: 'Shrikhand', cursive;
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    background-color: #e3ebf3;
    border: white;
}

.list-group-item:hover {
    background-color: white;
}